.weather-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    max-width: fit-content;
    overflow: hidden; /* Hide overflow to prevent scroll bars */
    padding: 10px 50px;
}


.weather-hour {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px 20px;
    min-width: 100px; /* Ensure a minimum width for each item */
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    object-fit: cover;
}

.weather-hour {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
  }
  .weather-temp{
    font-size: 2.2rem;
    font-weight: 500;
    color: #555;
    line-height: 4rem;
  }